.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #212529;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.logo img {
  height: 100px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu li {
  margin-right: 16px;
  margin-left: 16px;
  list-style: none;
  height: 80px;
  display: flex;
  align-items: center;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  height: 78px;
}

.menu li a:hover {
  transition: all 0.3s ease-in-out;
  color: #4aa0b8 !important;
  border-bottom: 4px solid #4aa0b8;
}

/*
.logoText {
  color: white;
  text-align: center;
  margin-top: 40px;
}
*/

/*
.active:hover {
  transition: all 0.3s ease-in-out;
  color: #9BC4BC !important;
  border-bottom: 4px solid #9BC4BC;
}*/
